@using Microsoft.AspNetCore.Identity
@using BSK_proj2.Controllers
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Image";
}

@model Image
<h2>@ViewData["Title"] - @Model.Name</h2>


<img src="@Model.Link" style="max-width:100%;"/><br />

@if (userManager.GetUserId(User) == Model.User.Id)
{
    <select>
        @if (Model.Access == "public")
        {
            <option selected>Public</option>
            <option>Private</option>
        }
        else
        {
            <option>Public</option>
            <option selected>Private</option>
        }
    </select>
    <textarea>@Model.Description</textarea>
}
else
{
    @Model.Access<br />
    @Model.Description <br />
}
